.itemModal{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    top: 15%; /* push down by 50% of the height of the container */
    width: 30%;
}